/* Class Styling */
.modal {
	border: 0px;
	padding: 0px;
}

.modal[open] {
	animation: modal-open 0.2s;
}

.modal[open]::backdrop {
	animation: modal-backdrop-open 0.2s;
	background: var(--tertiary-color);
	opacity: 50%;
}

.modal > .modal-header {
	align-items: center;
	background: var(--primary-color);
	color: var(--secondary-color);
	display: flex;
	justify-content: center;
	padding: 1rem 1rem 1rem 2rem;
}

.modal > .modal-header > h1 {
	flex: 1;
	text-align: center;
}

.modal > .modal-header > button {
	align-items: center;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	padding: 0px;
}

.modal > .modal-header > button:hover {
	cursor: pointer;
}

.modal > .modal-header > button > .icon:hover {
	transform: scale(110%);
}

.modal > .modal-body {
	height: 100%;
	padding: 1rem;
	width: 100%;
}

/* Animations */
@keyframes modal-open {
	from {
		opacity: 0;
		transform: scale(75%);
	}
	to {
		opacity: 1;
		transform: scale(100%);
	}
}

@keyframes modal-backdrop-open {
	from {
		opacity: 0;
	}
	to {
		opacity: 50%;
	}
}
