/* Fonts */
@font-face {
	font-display: swap;
	font-family: Roboto-Regular;
	src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-display: swap;
	font-family: Impact-Bold;
	src: url('/fonts/Impact.ttf');
}

/* Element Styling */
* {
	box-sizing: border-box;
	font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif !important;
}

:root,
::backdrop {
	/* Colors */
	--primary-color: #1d212e;
	--secondary-color: #ffffff;
	--tertiary-color: #000000;
	--primary-accent: #f2994a;
	--secondary-accent: #eac543;
	--tertiary-accent: #cccccc;
	--error-color: #ff0000;
	--error-accent: #ffa0a0;
	--required-color: #ff0000;
	--skeleton-color: #aaaaaa;
	--skeleton-background-color: #cccccc;
	--success-snack-color: #ffffff;
	--success-snack-background: #008200;
	--normal-snack-color: #ffffff;
	--normal-snack-background: #1d212e;
	--error-snack-color: #ffffff;
	--error-snack-background: #e10000;

	/* Numbers */
	--max-content-width: 1920px;
	--min-content-width: 320px;
	--normal-border-radius: 4px;
	--nav-size: 60px;
}

html {
	min-height: 100vh;
	min-width: var(--min-content-width);
}

body {
	min-height: 100vh;
	min-width: var(--min-content-width);
}

/* Class Styling */
.large-icon {
	height: 2rem;
	width: 2rem;
}

.medium-icon {
	height: 1rem;
	width: 1rem;
}

.small-icon {
	height: 0.5rem;
	width: 0.5rem;
}

.large-button {
	border: none;
	border-radius: calc(2 * var(--normal-border-radius));
	color: var(--secondary-color);
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	padding: 16px 32px;
	text-decoration: none;
}

.medium-button {
	border: none;
	border-radius: var(--normal-border-radius);
	color: var(--secondary-color);
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	padding: 12px 32px;
	text-decoration: none;
}

.primary-button {
	background: var(--primary-accent);
	cursor: pointer;
}

.secondary-button {
	background: var(--primary-color);
	cursor: pointer;
}

.required::after {
	content: '*';
	color: var(--required-color);
}

.no-select {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Small Screens */
@media (max-width: 500px) {
	/* Class Styling */
	.hide-small {
		display: none;
	}
}

/* Medium Screens */
@media (max-width: 750px) {
	/* Class Styling */
	.hide-medium {
		display: none;
	}
}

/* Large Screens */
@media (min-width: 751) {
	/* Class Styling */
	.hide-large {
		display: none;
	}
}
