/* Fonts */
@font-face {
	font-family: Roboto-Regular;
	src: url('fonts/Roboto-Regular.ttf');
}

/* Element Styling */
* {
	box-sizing: border-box;
	font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif !important;
}

:root {
	/* Colors */
	--primary-color: #1d212e;
	--secondary-color: #ffffff;
	--primary-accent: #f2994a;
	--secondary-accent: #eac543;

	/* Numbers */
	--max-content-width: 1920px;
	--nav-size: 60px;
}

html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
}
