/* ID Styling */
#hero {
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
		url('/images/backgrounds/landing-hero.webp') center no-repeat;
	background-size: cover;
	box-shadow: inset 0px var(--normal-border-width) var(--secondary-color);
	color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	min-height: calc(100vh - var(--nav-size));
}

#hero > * {
	max-width: 500px;
	text-align: center;
}

#hero > h1 {
	font-size: 3rem;
	font-family: 'Impact-Bold', Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#hero > div {
	align-items: center;
	display: flex;
	gap: 16px;
	justify-content: center;
}
