/* Class Styling */
.max-width-container-outer {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.max-width-container-inner {
	height: 100%;
	max-width: var(--max-content-width);
	width: 100%;
}
