/* Class Styling */
.top-nav-container {
	background-color: var(--primary-color);
}

.top-nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: var(--nav-size);
	padding: 0rem 0.5rem;
	width: 100%;
}
