.image-cropper-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
}

.image-cropper-container > .image-cropper-button-container {
	align-items: center;
	display: flex;
	gap: 16px;
	justify-content: center;
}
